<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
<!--        <property name="hibernate.connection.driver_class">org.h2.Driver</property>-->
        <property name="hibernate.connection.url">jdbc:mysql://192.168.0.15:3306/dbtest1</property>
<!--        <property name="hibernate.connection.url">jdbc:h2:mem:test</property>-->
        <property name="hibernate.connection.username">test1</property>
        <property name="hibernate.connection.password">test1User1#123</property>
        <!-- JDBC connection pool (use the built-in) -->
<!--        <property name="hibernate.connection.pool_size">1</property>-->
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>

        <!-- NONE, CREATE, CREATE-DROP, UPDATE, VALIDATE-->
        <property name="hibernate.hbm2ddl.auto">validate</property>
<!--        <property name="hibernate.hbm2ddl.auto">create</property>-->

        <mapping class="org.jj.seminar4.Student" />
        <mapping class="org.jj.seminar4.GroupStudent" />

    </session-factory>
</hibernate-configuration>